.card {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ccc;
    flex: 1;
    margin-right: 20px;
  }
  
  .disaser-ready {
    font-size: 24px;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px;
    margin: 15px 0;
  }
  