.app-container {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  
  .form-container {
    transition: transform 0.5s ease-in-out;
  }
  
  .form-container.slide-out {
    transform: translateX(-100%);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #00e676;
  }
  
  .disaster-section, .progress-section {
    margin-bottom: 30px;
  }
  
  .disaster-name {
    color: #00e676;
  }
  
  .checklist {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list-item {
    margin-bottom: 10px;
  }
  
  .label {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 10px;
    accent-color: #00e676;
  }
  
  .submit-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #00e676;
    color: #000;
    cursor: pointer;
    border: none;
    width: 100%;
  }
  
  .results-container {
    margin-top: 100px;
    transition: left 0.5s ease-in-out;
  }
  
  .results-container h1 {
    margin-bottom: 20px;
    color: #00e676;
  }
  
  .progress-bar-container {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #00e676;
    text-align: center;
    line-height: 20px;
    color: #000;
    border-radius: 5px;
  }
  